{% extends 'base.html' %}

{% block title %} Detail {% endblock title %}

{% block content %}
<div class="container mt-5">
<div class="card" style="width: 18rem;">
  <img src="{{ view.image.url }}" class="card-img-top" alt="img">
  <div class="card-body">
    <p class="card-title">Title:{{ view.title }}</p>
    <p class="card-title">Category:{{ view.category }}</p>
    <p class="card-title">Description:{{ view.description }}</p>
    <a href="{% url 'list' %}" class="btn btn-primary"> Go back </a>
  </div>
</div>
</div>

{% endblock content %}
